.address-container{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.address-container > div:nth-child(1) {
    display: inline-flex;
}

/*.address-top > input {*/
/*    width: 100%;*/
/*}*/

.address-container > div:nth-child(1) > button {

}

.address-bottom > input {
    width: 80%;
}



/*.box input{*/
/*    margin-left: 2%;*/
/*}*/

/*.addressBox button{*/
/*    margin-left: 2%;*/
/*}*/

/*.addressBox > input:active, input:focus {*/
/*    border: 2px solid darkkhaki;*/
/*}*/