.label-container{
    display: inline-flex;
}

.title-box {
    white-space: pre-wrap;
    text-align: center;
    /*width: 30%;*/
    flex: 1 0 35%;
}

.contents-box {
    margin-left: 5%;
    flex: 1 0 60%;
}