.text-container{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "vitro-pride", sans-serif;
}

.text-container input {
    background-color: lightgoldenrodyellow;
    border: 1px solid khaki;
    outline: none;
}

.text-container input:active, input:focus {
    border: 1px solid darkkhaki;
}


@media screen and (max-width: 480px) {

}

@media screen and (max-height: 580px) {

}